@model Mvcproj1.Models.Name

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=display-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h3>Hello, @Model.FirstName!</h3>
    </div>
</body>
</html>
